{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reagendar Consulta</title>
    <link rel="stylesheet" href="{% static 'css/reagendar.css' %}?v=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header class="cabecalho">
        <img class="icon" src='{% static "images/coracao2.png" %}' alt="Ícone de coração">
        <nav class="menu">
            <a class="nome">{{ consulta_atual.paciente.nome }}</a>
            <a href="{% url 'plataforma' %}"><button class="btnnav">Minhas Consultas</button></a>
        </nav>
    </header>

    <main class="conteudo-tabela">
        <div class="tabela">
            <section class="Titulo">
                <h3>Consultas disponíveis para reagendamento</h3>
            </section>
            <div class="table-container" id="reagendar">
                <table>
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Horário</th>
                            <th>Médico</th>
                            <th>Especialidade</th>
                            <th>Local</th>
                            <th>Endereço</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in consultas_reagendamento %}
                            <tr data-consulta-id="{{ i.id }}" style="cursor: pointer;">
                                <td>{{ i.data|date:"d/m/Y" }}</td>
                                <td>{{ i.hora|time:"H:i" }}</td>
                                <td>{{ i.medico.nome }}</td>
                                <td>{{ i.medico.especialidade }}</td>
                                <td>{{ i.local }}</td>
                                <td>{{ i.endereco }}</td>
                            </tr>
                            {% empty %}
                            <tr class="nao-clicavel">
                                <td colspan="6">Nenhuma consulta disponível para reagendamento.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>                
    </main>

    <footer class="rodape">
        <p>Para reagendamento selecione um item da tabela.</p>
    </footer>

    <input type="hidden" id="consulta-atual-id" value="{{ consulta_atual.id }}">

    <script src="{% static 'js/reagendar.js' %}?v=1.0"></script>

</body>
</html>