* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e2e2e2;
}

.cabecalho{
    padding-bottom: 100px;
    padding-top: 20px;
    padding-left: 20px;
    min-height: 20vh;
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.btnnav {
    border: none;
    background-color: #e2e2e2;
    font-size: 16px;
    cursor: pointer;
}

.icon {
    max-width: 150px;
    width: 8%;
    min-width: 60px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.erro {
    font-size: 25px;
    color: red;
}

.form-div {
    max-height:300px;
    height: 100%;
    min-height:200px;
    width: 95%;
    max-width: 800px;
    border-radius: 14px;
    background-color: #f7f5f0;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.Titulo {
    text-align: center;
    padding: 24px;
    background: linear-gradient(90deg, #0cbff5, #0cf5e9); 
    font-size: 30px;
    color: #333;      
}

.formulario {
    padding-bottom: 2px;
    padding: 15px;
    position: relative;
}

label {
    margin-bottom: 5px;
    font-size: 20px;
    display: block;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
    border: 1px solid #0cbff5;
    border-radius: 10px;
}

.recuperar {
    width: 100%;
    padding: 12px;
    background-color: #0cbff5;
    border: none;
    border-radius: 14px;
    color: #e2e2e2;
    font-size: 20px;
    cursor: pointer;
}

.recuperar:hover {
    background-color: #0cf5e9;
    transition: 1s;
    color: #333;
}