{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados da Consulta</title>
    <link rel="stylesheet" href="{% static 'css/consulta_medico.css' %}?v=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header class="cabecalho">
        <img class="icon" src='{% static "images/coracao2.png" %}' alt="Ícone de coração">
        <nav class="menu">
            <a class="nome">{{ consulta.medico.nome }}</a>
            <a href="{% url 'plataforma_medico' %}"><button class="btnnav">Voltar</button></a>
        </nav>
    </header>

    <main class="conteudo-tabela">
        <div class="tabela">
            <section class="Titulo">
                <h3 id="titulo-consultas">Dados da Consulta</h3>
            </section>

            <div id="formulario-consulta">
                <form id="tabela-dados" class="tabela-dados" action="" method="POST">
                    {% csrf_token %}
                    <label>Paciente</label>
                    <input readonly value="{{ consulta.paciente }}">
                    <label>Data</label>
                    <input readonly value="{{ consulta.data|date:'d/m/Y' }}">
                    <label>Horário</label>
                    <input readonly value="{{ consulta.hora|time:'H:i' }}">
                    <label>Retorno ou primeira consulta</label>
                    <input readonly value="{{consulta.get_retorno_ou_primeira_consulta_display}}">
                    <div class="btn">
                        <button type="button" class="btncompareceu" id="btncompareceu" data-id="{{ consulta.id }}">Paciente Compareceu</button>
                        <button type="button" class="btnnaocompareceu" id="btnnaocompareceu" data-id="{{ consulta.id }}">Paciente Faltou</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script src="{% static 'js/consulta_medico.js' %}"></script>

</body>
</html>